@use "../styles/colors" as *;

.container {
  height: 700px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;

  td {
    font-size: 15px;
  }

  &-editButton {
    background-color: $thirtaryColor;
    border: 1px solid $thirtaryColor;
    outline: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  &-deleteButton {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    outline: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 4px;
    cursor: pointer;
  }

  &-body {
    tr {
      height: 65px;
    }
    tr:nth-of-type(odd) {
      background-color: $backgroundColor;
    }
  }
}
